body{
	background:#FFFFFF;
	margin    :0;
}
.header{
	width: auto;
	height: 100px;
	clear: both;
}

.texthead{
	float: left;
	text-align: left;
	clear: right;
	vertical-align: middle;
	position: relative;
	left: 10px;
}

.content{
	clear: both;
}

#ip , td{
	/*width: 235px;*/
	width: 20%;
}
#icon{
	/*width: 118px;*/
	width: 5%;
}

#form-subir{
	height: 50px;
}
h1.white{
	color:	#000000;
/*	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
}

#scrolled{
	overflow: auto;
	/*height: 600px;*/
}

.gotop{
	padding-top: 10px;
	bottom: 0px;
	right: 2%;
	position: fixed;
	display:scroll;
	height: 25px;
	width: 100px;
	background-color: #222;
	vertical-align: middle;
	text-align: center;
	color: white;
	-webkit-box-shadow: 0px 0px 10px 2px rgba(0,0,0,.7);
	-moz-box-shadow: 0px 0px 10px 2px rgba(0,0,0,.7);
	box-shadow: 0px 0px 30px rgba(0,0,0,.7);
}

.gotop a:hover{
	text-decoration: none;
	color: #fff;
}
.gotop a:active{
	text-decoration: none;
	color: #000;
}


.destacado{
	font-size: 150%;
	color: red;
}

#izq{
	float: right;
}